---
const {class: className} = Astro.props;
import WhiteLogo from '../icons/WhiteLogo.astro';
import Phone from '../icons/Phone.astro';
import Mail from '../icons/Mail.astro';
---

<footer class="w-full py-28 bg-pvdcyan text-pvpblue">
    <div class="lg:max-w-7xl px-4 mx-auto flex flex-col-reverse gap-20 lg:flex-row">
        <div class="text-sm font-opensans flex flex-col gap-5">
            <WhiteLogo />
            <p class="lg:text-balance">Lorem ipsum dolor sit amet, consectetur adipising elit. Mauris nulla quam, hendrerit lacinia vestibulum a, ultrices quis sem.</p>
            <ul class="flex flex-col gap-3 py-10 lg:py-5">
                <li class="flex gap-5 items-center"><Phone/>Phone: +1-543-123-4567</li>
                <li class="flex gap-5 items-center"><Mail />example@company.com</li>
            </ul>
        </div>
        <div class="flex flex-col gap-5">
            <p class="font-opensans uppercase font-semibold text-xl">newsletter</p>
            <p class="text-sm font-opensans lg:text-balance">To recieve tips on grow your community sign up to our weekly newsletter. We`ll never send you spam or pass on youremail address</p>
            <div class="flex flex-col gap-5 lg:flex-row">
                <input class="text-pvdcyan p-2 rounded-lg font-opensans w-full" type="email">
                <div class="flex justify-end">
                    <button class="hover:bg-plpink transition duration-500 w-max bg-ppink font-opensans px-10 py-3 rounded-lg text-sm ">Subscribe</button>
                </div>
            </div>
            
            
        </div>

    </div>

    <div class="lg:max-w-7xl px-4 mx-auto py-5 flex gap-3">
        <a class="rounded-sm  bg-pvpblue hover:bg-ppink transition duration-500" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="hsl(192, 100%, 9%)" fill="hsl(192, 100%, 9%)" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
              </svg>
        </a>

        <a class="rounded-sm  bg-pvpblue hover:bg-ppink transition duration-500" href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#FFFF" fill="hsl(192, 100%, 9%)" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
            <path d="M16.5 7.5l0 .01" />
          </svg></a>

        <a class="rounded-sm  bg-pvpblue hover:bg-ppink transition duration-500" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="hsl(192, 100%, 9%)" fill="hsl(192, 100%, 9%)" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" />
              </svg>
        </a>
    </div>
    
</footer>