---
import '@fontsource/poppins/700.css';
import '@fontsource-variable/open-sans';
import img1 from '../images/logo.svg';
---

<header class="fixed z-10 top-0 w-full text-ppink font-opensans">
    <nav class="flex justify-between items-center my-9 px-4 lg:max-w-7xl mx-auto">
        <a href="#"><img class="w-32" src={img1.src} alt=""></a>
        <a class="hover:shadow-lg bg-pvpblue hover:shadow-plpink transition duration-500 border-2 capitalize py-2 px-6 rounded-3xl"  href="#">try it free</a>
    </nav>
</header>
