---
import img1 from '../images/screen-mockups.svg';
import Button from '../components/Button.astro';
---

<div class="mt-36 mx-auto lg:max-w-6xl px-4 text-center text-balance flex flex-col gap-5 text-pvdcyan items-center  py-16">
    <p class="font-poppins capitalize text-4xl lg:text-5xl">build the community your fans will love</p>
    <p class="font-opensans text-lg lg:px-72 font-thin">Huddle re-imagines the way we build communities. You hace a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.</p>
    <Button />
    <img class="object-fill mt-10 w-11/12" src={img1.src} alt="">
</div>