---
import Button from "./Button.astro"
---

<div class="py-32 mx-auto px-4 flex flex-col justify-center items-center gap-5">
    <p class="capitalize font-poppins text-2xl">ready to build your community?</p>
    <Button />
</div>