---
import img1 from '../images/icon-communities.svg';
import img2 from '../images/icon-messages.svg';
---

<div class="px-4 items-center flex justify-center  flex-col lg:flex-row py-16 lg:max-w-screen-md lg:justify-between mx-auto gap-10">
    <div class="flex flex-col gap-2">
        <img class="size-5" src={img1.src} alt="">
        <p class="text-6xl font-opensans font-bold">1.4k+</p>
        <p class="text-sm font-thin text-center lg:text-left">Communities Formet</p>
    </div>
    <div class="flex flex-col gap-2">
        <img class="size-5" src={img2.src} alt="">
        <p class="text-5xl font-opensans font-bold">2.7m+</p>
        <p class="text-sm font-thin text-center lg:text-left">Messages Sent</p>
    </div>
</div>